%h1#nav_title Ships

#container
  #dashboard
    %p.instructions Click a ship to select
    #ships
      .ship.size_5{'data-state' => 'inactive', 'data-size' => 5, 'data-id' => 5}
        - 5.times.each_with_index do |element, index|
          = button_tag "", class: "#{(index != 0 ? 'with_margin' : '')} btn btn-default"
      .ship.size_4{'data-state' => 'inactive', 'data-size' => 4, 'data-id' => 4}
        - 4.times.each_with_index do |element, index|
          = button_tag "", class: "#{(index != 0 ? 'with_margin' : '')} btn btn-default"
      .ship.size_3{'data-state' => 'inactive', 'data-size' => 3, 'data-id' => 3}
        - 3.times.each_with_index do |element, index|
          = button_tag "", class: "#{(index != 0 ? 'with_margin' : '')} btn btn-default"
      .ship.size_3{'data-state' => 'inactive', 'data-size' => 3, 'data-id' => 2}
        - 3.times.each_with_index do |element, index|
          = button_tag "", class: "#{(index != 0 ? 'with_margin' : '')} btn btn-default"
      .ship.size_2{'data-state' => 'inactive', 'data-size' => 2, 'data-id' => 1}
        - 2.times.each_with_index do |element, index|
          = button_tag "", class: "#{(index != 0 ? 'with_margin' : '')} btn btn-default"

  #left
  #right
